

<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">    
<title>Title of the document</title>
</head>

<body>
The content of the document......
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>
<div>

    {{#each this}}
    <div>
        <div>
            <div>
                <h3>{{d}}</h3>
                <p>{{name}}</p>
            </div>
            <div>
                <a>
                    Delete
                </a>
                <a>
                    Edit
                </a>
            </div>
        </div>
    </div>
    {{/each}}
</div>

</body>

</html>